* {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background: #333;
  overflow: hidden;
}

.container {
  width: 95%;
  margin: 0 auto;

  @media screen and (min-width: 569px) {
    width: 80%;
  }
}